* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

button:hover {
    transform: scale(1.09);
}

body {
    overflow-x: hidden;
    height: 100vh;
}


/* ====================== */

h1 {
    position: fixed;
    top: 15%;
    left: 44%;
    color: aliceblue;
    text-transform: capitalize;
    filter: drop-shadow(2px 4px 6px black);
    font-size: 30px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(92, 58, 58, 0.5)), url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 100px;
}

button {
    width: 70px;
    height: 70px;
    outline: none;
    border-style: none;
    font-size: 40px;
    border: 1px solid #423fda;
    background-color: #423fda;
    line-height: 50px;
    color: aliceblue;
    box-shadow: inset 1px 4px 5px #000, inset -1px -4px 5px #000;
    border-radius: 50%;
    transition: transform .5s;
    cursor: pointer;
    z-index: 54;
}

button:focus {
    outline: none;
}

h2 {
    margin: 0 40px;
    font-size: 40px;
    color: aliceblue;
}

.heleal {
    position: fixed;
    left: 41%;
    top: 13%;
}

.fanos,
.fanos2 {
    position: absolute;
    top: 0;
    margin: 0 -20px;
    left: 20%;
    -webkit-transform-origin: top;
    transform-origin: top;
    animation: spin 1s ease-in-out infinite alternate;
}

.fanos2 {
    top: 0;
    left: 80%;
}


/* copyright */

.footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: aliceblue;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate( -3deg);
        transform: rotate( -3deg);
    }
    100% {
        -webkit-transform: rotate( 3deg);
        transform: rotate( 3deg);
    }
}

@media (max-width:776px) {
    h1 {
        position: fixed;
        top: 15%;
        left: 30%;
        z-index: 23;
        color: aliceblue;
        text-transform: capitalize;
        font-size: 25px;
        filter: drop-shadow(2px 4px 6px black);
    }
}

@media (max-width:400px) {
    body {
        font-size: 65%;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        margin: 0 20px;
        font-size: 32px;
        color: aliceblue;
    }
    button {
        width: 50px;
        height: 50px;
    }
    .card {
        padding: 10px;
    }
}
